@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Satisfy&display=swap');

:root {
  --primary-color: #D94A7E;
  --secondary-color: rgb(136, 191, 144);
  --middle-color: #F2CA50;
  --terziary-color: #F2A766;
  --dark-color: #731616;

  --dark-dark-color: #402718;
  --light-secondary-color: #ADD4D9;

  --light-book: #eee6e1;

  /*hover*/
  --primary-shade: hwb(357 65% 11%);
  --secondary-shade: #28959A; 
  --terziary-shade: rgba(136, 191, 144, 0.9);

  /*transparent*/
  --primary-transparent:  rgba(228, 166, 169, 0.8);
  /* font */
  --title--font: 'Satisfy', cursive;
  --general-font: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Satisfy', cursive; */
  background-color: var(--terziary-color);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}


/**********************************************HOME********************************************************/


/* display:flex */
header, 
.hero, 
.news, 
.news-container, 
.news-article, 
footer,
.social-bar,
header h3 {
  display: flex;
}

header {
justify-content: space-between;
align-items: center;
height: 80px;
background-color: var(--secondary-color);
padding: 2rem;
box-sizing: border-box;
}

header h3 {
  align-items: center;
  gap: 1rem;
}

.logo {
  font-size: 2rem;
  color: var(--primary-color);
}

nav {
  display: none;
  height: 100vh;
  width: 100vw;
  /* background-color: var(--secondary-color); */
  background-color:  var(--terziary-shade);
  z-index: 9999;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  left: 0;
  top: 0;
  /* position: relative; */
}

.close-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
  color: black;
}

.nav-link {
  font-family: var(--general-font);
  font-weight: bolder;
  padding: 0.5rem;
  border-radius: 20px;
}

.hero, .hero-books, .hero-book {
  background-color: var(--middle-color);
  height: 300px;
  justify-content: center;
  align-items: center;
  gap: 1.5rem; 
  flex-wrap: wrap;
  flex-direction: column;
}

.hero h1, .hero-books h1, .hero-book h1 {
  font-family: var(--title--font);
  font-size: 2.5rem;
  /* text-transform: capitalize; */
  /* padding-left: 2.5rem; */
}

.hero img, .auth-container-img img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
}

.news {
  /* height: 500px; */
  flex-direction: column;
  padding-top: 1.5rem;
  position: relative;
  box-sizing: border-box;

}

.news h3 {
  padding: 1rem 2.5rem;
  background-color: var(--primary-color);
}

.news-container {
  background-color: var(--light-secondary-color);
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
  width: 80%;
  margin: 1.5rem auto;
}

.news-article {
  flex-direction: column;
  /* width: calc((100% - 2rem)/2); */
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;

}

.news-article img {
  border: 2px solid var(--dark-color);
  border-radius: 20px ;
}


.news-article-text {
 margin: 1rem;
}

.news-article-text p {
 text-align: justify;
}

.news-article button {
  margin-left: auto;
}

button {

  border: none;
  background-color: var(--secondary-color);
  padding: 0.5rem;
  font-family: var(--general-font);
}

.arrow-left, .arrow-right {
  position: absolute;
  font-size: 1.5rem;
  color: var(--dark-color);
  border-radius: 50%;
  margin: 0.5rem;
}

.arrow-left {
  top: 50%;
  left: 0;
}
.arrow-right {
  top: 50%;
  right: 0;

}

footer {
  background-color: var(--secondary-color);
  height: 50px;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.social-bar {
  gap: 1rem;
}

/* hover */
.arrow-left:hover, .arrow-right:hover {
  background-color: var(--secondary-color);
}


button:hover, .link:hover {
  background-color: var(--dark-color);
  color: white;
}

.nav-link:hover {
  background-color: var(--middle-color);
}

button:hover, 
.arrow-left:hover, 
.arrow-right:hover, 
.hamburger, 
.social-bar, 
.close-button, 
.back-item  {
  cursor: pointer;
}


/******************************************NOT FOUND********************************************************/
/*BUTTON IN HOME*/

/**display-flex**/
.not-found-container, .not-found-text, .not-found-img {
  display: flex;
}

.not-found-container {
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
}


.not-found-img img {  
  max-width: 150px;
  margin: 0 auto;
  
}
.not-found-text {
  flex-direction: column;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 1.5rem;
  background-color: white;
  border-top-left-radius: 30px ;
  border-bottom-right-radius: 30px ;
}

/******************************************BOOKS********************************************************/


.hero-books, .books-list, .book-container, .buttons-books-container  {
  display: flex ;
}

/* .hero-books, hero-books h1 > home */

.hero-books img, .hero-book img {
  width: 40%;
}

.books-list, .book-container {
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.book-container {
  width: calc((100% - 1rem)/2);
  /* padding: 1rem; */
  box-sizing: border-box;
  background-color: white;
  flex-direction: column;
  /* gap: 1rem; */
}
.book-container img {
  max-width: 9rem;
  align-self: center;
}

.book-container-text h3 {
  color: var(--dark-color);
  padding: 0.5rem 0;
}

.book-container-text p {
  padding: 0.5rem 0;
  text-align: justify;
}

.book-container button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-button-arrow {
    font-size: 1.5rem;
}

.buttons-books-container {
 justify-content: space-around;
 gap: 1rem;
}

.buttons-books-container button {
  width: 60%;
}

/******************************************BOOK********************************************************/

.hero-book, 
.book-details, 
.book-details-text,
.back-button {
  display: flex;
}

.back-button {
  padding: 1rem;
  align-items: center;
}

.back-item {
  font-size: 1.5rem;
  padding: 1rem;
}

.book-details {
  gap: 1rem;
  padding: 1rem;
  box-shadow: 3px 3px 3px 0 #795548;
  width: 90%;
}

.book-details-img {
  width: 40%;
}

.book-details-img img {
  max-width: 100%;
  padding-right: 1rem ;
}

.book-details-text  {
  width: 60%;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.book-details-text p {
  text-align: justify;
}

/******************************************LOGIN********************************************************/
.auth-container, .auth-form {
  display: flex;
  flex-direction: column;
}


.auth-container {
  width: 50%;
  gap: 1.5rem;
  margin: 5rem auto;
  padding: 3rem;
  /* justify-content: center; */
  align-items: center;
  /* height: 50vh; */
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.bg-login {
  background-color: var(--light-secondary-color);
}

.auth-form {
  align-items: center;
  gap: 1.5rem;
}

.auth-form input {
  padding: 1rem;
  border-radius: 20px;
}

/******************************************LOGIN********************************************************/

.bg-signup {
  background-color: var(--primary-shade);
}

/******************************************ADD********************************************************/
.add-img {
  border: 2px solid black;
  height: 173px;
  border-radius: 20px;
  background-color: white;
}

.add-details-form input, .add-details-form textarea {
  padding: 0.5rem;
  border-radius: 20px;
}

.add-img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: center;
  margin-top: 3.5rem;;
}

.add-img-icon {
  font-size: 2rem;
  border-radius: 20px;
}

.add-img-icon:hover {
  background-color: var(--primary-shade);
  cursor: pointer;
}

.item {
  font-size: 1.5rem;
  font-family: var(--title--font);
  padding: 1rem;
}

/******************************************MODAL EDIT********************************************************/
.modal-edit, .modal-edit form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-edit-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: var(--primary-transparent);
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal-edit {
  width: 70%;
  align-items: center;
  gap: 1rem;
  background-color: var(--light-secondary-color);
  padding: 1.3rem;
  border-radius: 20px;
}

.modal-edit form {
  gap: 0.5rem;
  font-weight: bolder;
}

.modal-edit form input, .modal-edit form textarea {
  border-radius: 20px;
  padding: 0.5rem;
}

.modal-edit form button {
  width: calc((100% - 1rem)/2);
}




/*classi attivate da react*/
.show {
  display: flex;
}